// variables
@import '../../scss/variables/loginVariables.scss';

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  height: 630px;
  width: 300px;
  background-color: #F4F4F4;

}

.rectangleTop {
  margin-bottom: 10px;
  height: 8px;
  width: 300px;
  background-color: #00ADEE;
}


.app .woloxImg {
  margin-left: 40px;
}

.app .sign {
  margin-left: 22px;
  margin-bottom: 16px;
  height: 35px;
  width: 252px;
  cursor: pointer;
  padding: 10px 25px;
  background-color: $color-principal;
  color: $color-letra;
  font-family: $font-family-base;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid $color-letra;
  border-radius: 5px;
}

.app .sign::after {
  content: '';
  display: block;
  height: 2px;
  width: 252px;
  background-color: #A8A8A8;
  margin-left: -25px;
  margin-top: 25px;
}

.app .login {
  margin-left: 22px;
  margin-top: 16px;
  height: 35px;
  width: 252px;
  cursor: pointer;
  padding: 10px 25px;
  color: $color-principal;
  background-color: $color-letra;
  font-family: $font-family-base;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid $color-principal;
  border-radius: 5px;
}

.app .sign:hover {
  opacity: 0.7;
}

.app .login:hover {
  opacity: 0.7;
}
