.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  text-align: center;
}

.app .field label {
  margin: 1em;
  font-size: 15px;
  color: black;
}

.app img {
  width: 50%;
  margin: 1em;
  margin-bottom: -1px;
}

.app .input {
  border: .1rem solid #333;
  border-radius: 5px;
  width: 50%;
  font-size: 15px;
}

.app .sign {
  width: 51%;
  cursor: pointer;
  padding: 15px 25px;
  background-color: #8fc813bf;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #FFFFFF;
  margin-bottom: 10px;
  border-radius: 5px;
}

.app .log {
  width: 51%;
  cursor: pointer;
  padding: 15px 25px;
  color: #8fc813bf;
  background-color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #8fc813bf;
  margin-top: 10px;
  border-radius: 5px;
}

.app hr {
  margin: 0 100px;
}

.app button:hover {
  opacity: .7;
}