@import '../../scss/variables/globalVariables.scss';

.input {
    border-radius: 5px;
    font-size: 15px;
    margin-left: 22px;
    width: 252px;
    height: 32px;
    font-family: $font-family-base;
}

.field .nombre {
    margin: 10px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-left: 22px;
    font-family: $font-family-base;
}

.requiredInput {
    color: $errors;
    font-weight: 500;
    margin-left: 22px;
    font-family: $font-family-base;
    margin-top: 5px;
}