@import '../../scss/variables/globalVariables.scss';

.field .nombre,
.input,
.required-Input {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: black;
    font-family: $font-family-base;
    margin-left: 22px;
    margin-bottom: 10.5px;
    width: 252px;
}

.required-input {
    color: $errors;
    font-weight: 500;
    margin-left: 22px;
    font-family: $font-family-base;
    margin-top: 5px;
}

.input {
    height: 32px;
    border-radius: 5px;
}