{
  "extends": ["wolox-react", "@wolox/eslint-config-typescript"],
    "settings": {
      "react": {
      "version": "detect"
    }
  },

  /* probar en la mac */
  "rules":{
    "linebreak-style": ["error", "windows"]
  }
}
