@import '../../scss/variables/globalVariables.scss';
@import '../../scss/variables/colors';

.container {
    padding: 24px;
    background-color: $white;
    width: 900px;
    display: flex;
    margin: 200px auto;
    box-shadow: 4px 4px 10px 0 $rgb-color;
}

.atras-arrow {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10%;
    left: 26.4%;
}

.badge {
    position: absolute;
    left: 38.5%;
    top: 21%;
}

.atras {
    color: black;
    font-family: $font-family-base;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-left: 12px;
}

.book {
    height: 368px;
    width: 261px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    margin-right: 52px;
}

.contenido {
    display: flex;
    flex-direction: column;
}

.title {
    color: black;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    font-family: $font-family-base;
}

.genre {
    font-size: 24px;
    line-height: 28px;
    font-family: $font-family-base;
}

.text {
    line-height: 24px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-top: 36px;
    font-family: $font-family-base;

}

.text-content {
    font-family: $font-family-base;
    font-size: 20px;
}
