// variables
@import '../../scss/variables/globalVariables.scss';

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 250px auto;
    height: 400px;
    width: 300px;
    background-color: $main-bgc-color-lighthouse;

}

.invalidInput {
    text-align: center;
    color: $errors;
    font-weight: bold;
}

.rectangleTop {
    position: absolute;
    top: 250px;
    height: 8px;
    width: 300px;
    background-color: $vivid-cerulean;
}


.app .woloxImg {
    margin-left: 40px;
}

.app .sign {
    margin-left: 22px;
    margin-bottom: 16px;
    height: 35px;
    width: 252px;
    cursor: pointer;
    padding: 10px 25px;
    background-color: $main-color-grunervetliner;
    color: $font-color-white;
    font-family: $font-family-base;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid $font-color-white;
    border-radius: 5px;
}

.app .sign::after {
    content: '';
    display: block;
    height: 2px;
    width: 252px;
    background-color: $uniform-grey;
    margin-left: -25px;
    margin-top: 25px;
}

.app .login {
    margin-left: 22px;
    margin-top: 16px;
    margin-bottom: 10px;
    height: 35px;
    width: 252px;
    cursor: pointer;
    padding: 10px 25px;
    color: $main-color-grunervetliner;
    background-color: $font-color-white;
    font-family: $font-family-base;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid $main-color-grunervetliner;
    border-radius: 5px;
}

.sign-Up-Btn {
    margin-left: 76px;
    color: $main-color-grunervetliner;
}

.app .sign:hover,
.login:hover {
    opacity: 0.7;
}