@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&family=Odibee+Sans&family=Open+Sans:wght@300;400;700&family=Oswald:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Merienda+One&family=Nunito:wght@200;300;400;500;600&family=Odibee+Sans&family=Open+Sans:wght@300;400;700&family=Oswald:wght@200;300;400&display=swap');

@keyframes aparicion {
    0% {
        transform: translateY(-1000px);
    }

    100% {
        transform: translateY(0px);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 250px auto;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    animation: aparicion 1.2s ease-out;
}

.buttonLogin,
.buttonRegister {
    box-shadow: rgb(0, 0, 0) 0px 0px 5px 5px;
    margin-left: 22px;
    margin-top: 16px;
    margin-bottom: 10px;
    height: 35px;
    width: 252px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 22px;
    border-radius: 5px;
    color: white;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-weight: bold;
    opacity: 0.8;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        url("https://cdn.pixabay.com/photo/2017/02/07/09/02/wood-2045380__480.jpg")
}

.buttonLogin:hover,
.buttonRegister:hover {
    opacity: 1;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    padding: 5px 25px;
    color: white;
    font-family: 'Cinzel', serif;
    font-weight: 700;
}

.cucsiImg {
    position: absolute;
    height: 100px;
    top: 0;

}