@import '~wolox-equalizer/equalizer';

@import 'layout';

@import 'margins';

@import 'components';

// TODO: Edit this global styles

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0)),
    url('https://images.alphacoders.com/110/1105802.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}