@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&family=Open+Sans:wght@300;400;700&family=Oswald:wght@200;300;400&family=Roboto:wght@100;300;400;500&display=swap');
$font-family-base: 'Roboto';
$main-color-grunervetliner: #BED23C;
$main-bgc-color-lighthouse: #F4F4F4;
$font-color-white: #FFFFFF;
$uniform-grey: #A8A8A8;
$vivid-cerulean: #00ADEE;
$errors: red;
$box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);