@import '../../scss/variables/globalVariables.scss';
@import '../../scss/variables/colors';

.container {
    background-color: $light-grey;
}

.img-container {
    width: 1150px;
    margin: auto;
    display: grid;
    text-align: center;
    padding: 50px 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    gap: 40px;
    justify-content: center;
}

.border {
    padding: 28px;
    box-shadow: $box-shadow;
}

.portada {
    height: 100%;
    margin: auto;
    display: flex;
    box-shadow: $box-shadow;
    cursor: pointer;
    border-radius: 4%;
    height: 200px;
    width: 142px;
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    margin-top: 12px;
}

.title {
    color: $black;
    font-size: 16px;
    font-family: $font-family-base;
    font-weight: 600;
}

.author {
    font-size: 14px;
    font-family: $font-family-base;
    line-height: 18px;
}
